 .topbar {
    background-color: #0081c1;
    padding: 8px 0;
    font-size: 14px;
}
.topbar a, .topbar span {
    color: #ffffff;
    text-decoration: none;
}
.topbar a:hover {
    text-decoration: underline;
}
.topbar .bi {
    color: #ffffff;
    margin-right: 5px;
}
.topbar .social-links a {
    color: #ffffff;
    margin-left: 10px;
    font-size: 16px;
}

#divAgregarEmpleado {
    background-color: #0081c1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    display:none;
}

#divAgregarEmpleado h2 {
    text-align: center;
    margin-bottom: 20px;
}